/*----- Banner  ------ */

/* The image I use for the banner is from unsplash website https://unsplash.com/photos/Fi-GJaLRGKc and it
  has been published by Pankaj Patel on January 16, 2018.
*/

.masthead{
  background-color: $primary;
  color:$onPrimary;
  position:fixed;
  width: 100%;
  z-index: 2;
  box-shadow: 0px 4px 8px $secondary;
}

.card{
  transition: .5s ease-out;
}

.card:hover{
  transform: scale(1.02);
  
}

#toast-container {
  position: fixed;
  bottom: 50%;
  left: 50%;
  background-color: $secondary;
  color:$onSecondary;
  padding: 1.2rem 2.2rem;
  border-radius: .5rem;
  display: none;
}


@media only screen and (max-width: 45em) {
  .masthead{
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
}


.logo-area{
  padding-top: .5rem;
  padding-bottom: .5rem;
  display: flex;
  align-items: center;
}
.myPrimary{
  color:$onPrimary;
  margin: 0;
  padding: 0;
}

body{
  background-color: $background;
}

.logo {
  max-width: 3rem; 
  margin-right: 1rem;
}

.heading {
  color: white;
  margin: 0; /* Remove any default margin to avoid unnecessary spacing */
}