

.list-projects {
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  gap: 3rem;
  padding: 3rem;
  // background-color: $tertiairy;
}

.wrap-img {
  flex-basis: 10rem;
}

.wrap-content {
  flex-basis: 20rem;
}

.card-body-update{
  position:relative;
  min-height: 15rem;
}
.card-update{
  // min-height: 15rem;
}

.btn-checkout{
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}


.list-projects .card {
  // background-color:$primaryContainer;
  max-width: 20rem ;
  box-shadow: 0px 0px 8px hsl(189,99%,16%);
}