
.masthead-project-detail{
  background-color: $primary;
  color:$onPrimary;
  position:fixed;
  width: 100%;
  z-index: 2;
  box-shadow: 0px 4px 8px $secondary;
}

.project-detail-common-section{
  max-width: 25rem;
  margin: auto;
}

.img-description{
  // background-color: red;
  max-width: 20rem;
}

.overview-image{
  max-width: 55rem;
}

.overview-image img{
  width: 100%;
}

.screenshot-image{
  max-width: 20rem;
}

.screenshot-image img{
  width: 100%;
}

.technologie-image img{
  width: 100%;
}

@media only screen and (min-width: 45em) {
  .project-detail-common-section{
    max-width: 70rem;
  }
  // .screenshot-image{
  //   max-width: 20rem;
  // }
}

@media only screen and (min-width: 70em) {

  .project-detail-common-section{
    max-width: 100rem;
  }

  
  
  .the-screenshots{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .technologie{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .technologie-content{
    max-width: 30rem;
  }
  .technologie-image{
    max-width: 40rem;
  }

}


